#successMessage {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #3498db; /* Синий цвет */
    color: #fff; /* Белый цвет текста */
    text-align: center;
    width: 80%;
    z-index: 999; /* Поверх всех элементов */
}