{% extends "base.html" %}
{% block title %}Каталог{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/catalog.css') }}">
{% endblock %}
{% block content %}
<div class="contain">
    <h2>Каталог</h2>
    <li class="nav-items dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Category</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/catalog_electronics">Электроника</a></li>
            <li><a class="dropdown-item" href="/catalog_clothing">Одежда</a></li>
            <li><a class="dropdown-item" href="/catalog_accessories">Аксессуары</a></li>
            <li><a class="dropdown-item" href="/catalog_footwear">Обувь</a></li>
            <li><a class="dropdown-item" href="/catalog_furniture">Мебель</a></li>
            <li><a class="dropdown-item" href="/catalog_transport">Транспорт</a></li>
            <li><a class="dropdown-item" href="/catalog_real_estate">Недвижимость</a></li>
            <li><a class="dropdown-item" href="/catalog_miscellaneous">Разное</a></li>
        </ul>
    </li>
</div>
<div class="con-container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="{{ product.image }}" alt="{{ product.name }}">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product category -->
                            <p>Category: {{ product.category }}</p>
                            <!-- Product price-->
                            <span class>Price: {{ product.price }}</span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a href="{{ url_for('show_product', product_id=product.id) }}">Узнать больше</a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

