{% extends "base.html" %}
{% block title %}Политика конфиденциальности{% endblock %}
{% block styles %}
<style>
.content-container {
        padding: 0 50px;
    }
</style>
{% endblock %}
{% block content %}
<div class="content-container">
    <h1>Политика конфиденциальности</h1>

    <h2>1. Сбор и использование информации</h2>

    <p>1.1. Мы собираем только те личные данные, которые вы предоставляете добровольно при использовании нашего сервиса.</p>

    <p>1.2. Личная информация может включать в себя имя, адрес электронной почты, контактные данные и другую информацию, предоставленную вами.</p>

    <p>1.3. Мы используем предоставленную вами информацию для обеспечения функциональности сервиса, в том числе для обработки ваших запросов и обратной связи.</p>

    <h2>2. Защита информации</h2>

    <p>2.1. Мы принимаем все необходимые меры для обеспечения безопасности и конфиденциальности вашей личной информации.</p>

    <p>2.2. Доступ к вашей информации имеют только сотрудники, которые обязаны сохранять конфиденциальность.</p>

    <h2>3. Использование файлов cookie</h2>

    <p>3.1. Мы используем файлы cookie для улучшения функциональности и опыта пользователя.</p>

    <p>3.2. Вы можете отключить файлы cookie в настройках вашего браузера, однако это может повлиять на работу некоторых функций нашего сайта.</p>

    <h2>4. Передача данных третьим лицам</h2>

    <p>4.1. Мы не передаем вашу личную информацию третьим лицам без вашего разрешения, за исключением случаев, предусмотренных законом.</p>

    <h2>5. Изменения в политике конфиденциальности</h2>

    <p>5.1. Мы оставляем за собой право вносить изменения в нашу политику конфиденциальности. Любые изменения будут опубликованы на этой странице.</p>

    <h2>6. Согласие с политикой конфиденциальности</h2>

    <p>6.1. Используя наш сервис, вы выражаете свое согласие с условиями нашей политики конфиденциальности.</p>
</div>
{% endblock %}