{% extends "base.html" %}
{% block title %}Правила использования{% endblock %}
{% block styles %}
<style>
.content-container {
        padding: 0 50px;
    }
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
        }

        h2 {
            color: #555;
        }

        p {
            color: #777;
        }
</style>
{% endblock %}
{% block content %}
<div class="content-container">
    <h1>Правила использования сайта</h1>

    <h2>1. Общие положения</h2>
    <p>1.1. Используя данный сайт, вы соглашаетесь с условиями и правилами его использования.</p>
    <p>1.2. Администрация сайта оставляет за собой право вносить изменения в правила без предварительного уведомления.</p>

    <h2>2. Правила контента</h2>
    <p>2.1. Запрещено размещение контента, нарушающего действующее законодательство.</p>
    <p>2.2. Запрещено размещение информации, способной нанести вред третьим лицам.</p>

    <h2>3. Правила общения</h2>
    <p>3.1. Не допускается публикация оскорбительных, угрожающих или дискриминирующих высказываний в комментариях или на форумах.</p>
    <p>3.2. Запрещено использование нецензурной лексики и иных выражений, нарушающих нормы общения.</p>

    <h2>4. Правила безопасности</h2>
    <p>4.1. Запрещено пытаться получить несанкционированный доступ к данным других пользователей.</p>
    <p>4.2. Запрещено размещение вредоносного программного обеспечения или попытка взлома сайта.</p>

    <h2>5. Реклама и спам</h2>
    <p>5.1. Запрещено размещение рекламы без предварительного согласования с администрацией сайта.</p>
    <p>5.2. Запрещено распространение спама в любых формах.</p>

    <h2>6. Ответственность</h2>
    <p>6.1. Пользователь несет ответственность за свои действия на сайте.</p>
    <p>6.2. Администрация сайта не несет ответственности за ущерб, причиненный пользователям вследствие их действий или недействий.</p>

    <h2>7. Завершение использования сайта</h2>
    <p>7.1. Администрация оставляет за собой право ограничить или прекратить доступ пользователя к сайту в случае нарушения им правил.</p>
    <p>7.2. В случае нарушения правил, пользователь может быть заблокирован без предупреждения.</p>
</div>
{% endblock %}