<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница авторизации</title>
    <link rel="stylesheet" href="static/css/auth.css">
</head>
<body>
    <form method="POST" id="loginForm" class="container">
        <label for="Login"><b>Логин</b></label>
        <input type="text" placeholder="" name="Login" id="Login" required>
        <label for="Password"><b>Пароль</b></label>
        <input type="password" placeholder="" name="Password" id="Password" required>
        <button type="submit">Войти</button>
        <a href="/registration">Регистрация</a>
    </form>
</body>
</html>

