{% extends "base.html" %}
{% block title %}Информация о корзине{% endblock %}
{% block styles %}
<style>
body, html {
    height: 100%;
    margin: 0;
}
.con-container {
    min-height: 100vh;
    padding: 50px;
}
</style>
{% endblock %}
{% block content %}
  <div class="con-container mt-5">
    <h2>Your Cart</h2>

    {% if cart %}
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart %}
            <tr>
              <td>
                {% if item.product_id %}
                  <a href="{{ url_for('show_product', product_id=item.product_id) }}">{{ item.name }}</a>
                {% else %}
                  N/A
                {% endif %}
              </td>
              <td>{{ item.price }}</td>
              <td>{{ item.quantity }}</td>
              <td>
                {% if item.product_id %}
                  <a href="{{ url_for('show_product', product_id=item.product_id) }}">View Details</a>
                {% else %}
                  N/A
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Your cart is empty.</p>
    {% endif %}
  </div>
{% endblock %}






