{% extends "base.html" %}
{% block title %}Недвижимость{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
    <h2>Недвижимость</h2>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in real_estate %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <img src="{{ product.image }}" alt="{{ product.name }}">
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                <!-- Product category -->
                                <p>Category: {{ product.category }}</p>
                                <!-- Product price-->
                                <span class>Price: {{ product.price }}</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a href="{{ url_for('show_product', product_id=product.id) }}">Узнать больше</a></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

