{% extends "base.html" %}
{% block title %}Информация о продукте{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
{% endblock %}
{% block content %}
<div class="con-container">
    <div class="product-info">
        <h2>{{ product.name }}</h2>
        <p>Price: {{ product.price }}</p>
        <p>Description: {{ product.description }}</p>
        <p>Location: {{ product.location }}</p>
        <p>Contact Person: {{ product.contact_person }}</p>
        <p>Email: {{ product.email }}</p>
        <p>Phone Number: {{ product.phone_number }}</p>

        <form action="{{ url_for('edit_product', product_id=product.id) }}" method="get">
            <button type="submit">Edit Product</button>
        </form>

        <form action="{{ url_for('delete_product', product_id=product.id) }}" method="post">
            <button type="submit">Delete Product</button>
        </form>

        <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="post">
            <button type="submit">Add to Cart</button>
        </form>
    </div>
    <img class="product-image" src="{{ product.image }}" alt="{{ product.name }}">
</div>
{% endblock %}

